body {
    font-family: 'Montserrat', sans-serif;
}

.errorHeading {
    padding: 20% 0;
}

.center-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.top-row {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.bottom-row {
    width: 75%;
    margin: 0 auto;
}

/***************************** HOMEPAGE  ********************************** */
.homePage {
    background-image: url('https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20% 0;
    text-align: center;
}

.homePage > h1 {
    color: rgb(250, 250, 235);
    font-variant: small-caps;
}

/*  **************************** NAVBAR  ***************************** */



.nav.justify-content-end .btn.btn-light:hover {
    background-color: rgb(255, 66, 66);
}

/******************************** CARDS ************************ */



/************************ SHOW*************************** */

.show-buttons {
    margin-top: 4%;
}
